@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  h1{
    @apply text-center lg:text-start  text-xl md:text-2xl text-black font-semibold 
  }
  nav{
    @apply md:px-8 xl:px-10 px-2 pt-2 pb-8 bg-white/50 items-center backdrop-blur-md flex justify-between
  }
  .logo{
    @apply font-bold text-xl text-main cursor-pointer
  }
  ul{
    @apply flex gap-12 text-base
  }
  ul li a{
    @apply cursor-pointer hover:text-main hover:scale-105 pb-4 transition hover:border-main  hover:border-b-[3px] 
  }
  .primaryButton{
    @apply px-6 py-3 border-2 w-fit border-main bg-main text-white rounded-3xl md:hover:scale-105 transition
  }
  .secondaryButton{
    @apply px-6 py-3 border-2 w-fit border-main bg-white text-main rounded-3xl hover:scale-105 transition
  }

}

:root {
  background-color: white;
  scroll-behavior: smooth;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.openAnimation{
  animation-name: open;
  animation-duration: .4s;
  animation-fill-mode: both;

}

@keyframes open {
  0% {
    right: -100%;
  }
  100%{
    right: 0;

  }
  
}

.logoAnimation{
  animation-name: logo;
  animation-duration: 3.5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes logo{
  0%{
    color: rgb(170, 170, 170);

  }
  100%{
    color: #BE1B7D;
  }
}

.preload{
  animation-name: preload;
  animation-duration: 3s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes preload{
  0%{
    opacity: 1;

  }
  100%{
    opacity: 0;
  }
}

